/* Start Global rules */

*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin:0;
padding:0;

}

/* Start variable */

:root {
--main-color:#19C8FA;
--transparent-color:rgb(21 100 122 / 70%);
}

/* End Variable */

body {

 font-family: 'Open Sans', sans-serif;

}

html {
scroll-behavior: smooth;
}

ul {
list-style: none;
}

.container {
padding-left:15px;
padding-right:15px;
margin-left:auto;
margin-right:auto;
}

/* small */

/* @media (max-width:767px){
    .container {
        height: 99.5px;
    }
} */

@media (min-width:768px){
.container {
    width:750px
}

}

@media (min-width:992px){
    .container {
        width:970px
    }
}
/* Large */

@media (min-width:1200px) {
    .container {
        width:1170px
    }
}


/* End Global rules */

/* Start Component */

.special-heading {

text-transform: uppercase;
text-align: center;
margin-top:100px;
font-weight:400 ;
font-size: 50px;
}

.special-heading + p {
   text-align: center;
    margin-top: 80px;
    width:550px;
    position:absolute;
    left: 50%;
    /* top:20%; */
    transform: translateX(-50%);
    font-size: 18px;
    line-height: 2;
    color:#777;
}


 .line {
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
}

 .line .line1 {
width:60px;
height: 1px;
background-color:#333333;
}

.line .circle {
    width: 20px;
    height: 20px;
   border: 1px solid black;
   border-radius:50%;
    }

 .line .line2 {
        width:60px;
        height: 1px;
        background-color:#333333;
        }
        

        .main-heading {
            text-align: center;
          }
          .main-heading h2 {
            font-weight: normal;
            font-size: 40px;
            position: relative;
            margin-bottom: 70px;
            text-transform: uppercase;
          }
          .main-heading h2::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            background-color: #333;
            bottom: -30px;
            width: 120px;
          }
          .main-heading h2::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 2px solid #333;
            bottom: -38px;
            background-color: white;
          }
          .main-heading p {
            width: 550px;
            margin: 0 auto 100px;
            max-width: 100%;
            line-height: 2;
            color: #777;
          }
 

/* End Component */



/* Start Header */

header {
 position: absolute;
 left: 0;
 width:100%;
 z-index:2;
}
header .container {
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
min-height: 99.5px;

}

header .container::after {
    content: '';
    position: absolute;
    background-color:#A2A2A2;
    /* bottom:-1px; */
    bottom:0;
    width:calc(100% - 30px);
    height: 1px;
    left:15px;
    
}
header .logo img {
height: 40px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav .toggle-menu{
    color: white;
    font-size: 22px;
}

@media (min-width:768px) {
    header nav .toggle-menu{
      display: none;
    }

       
}

header nav ul {
    display: flex;
   
}

@media (max-width:767px){
    header nav ul {
        display:none;
       
    } 
    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        background-color: rgb(0 0 0 / 50%);
    }
    header nav ul li a {
        padding:15px  !important;
    }  
}
header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    padding: 40px 30px;
    position: relative;
    z-index: 2;
}
header nav .form {
    margin-left: 30px;
   position: relative;
   width: 40px;
   height: 30px;
   border-left: 1px solid white;
   
}

header nav .form i {
    color: white;
    font-size: 25px;
    /* padding-left: 20px; */
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* header .form::before {
    content: '';
    position: absolute;
    background-color: white;
    height: 30px;
    width:2px;
    left:-5px;

} */
header nav ul li a:hover,
header nav ul li a.active
{
    color:var(--main-color);
    border-bottom: 1px solid var(--main-color);
}



/* End Header */

/* Start Landing */

.landing {
min-height: 100vh;
/* background-color:#1f2021; */
background-image: url('../images/back.jpg');
background-repeat: no-repeat;
background-size: cover;
/* opacity: 0.5; */

position: relative;

}
.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
  }

.landing  .text {
position: absolute;
top:50%;
transform: translateY(-50%);
left: 0;
width:50%;
color:white;
padding: 50px;

background-color:var(--transparent-color);
display: flex;
justify-content: flex-end;
}

@media (max-width:767px) {
.landing .text {
    width:100%;
}
}

.landing .text .content{
  max-width: 500px;
}

@media (max-width:767px) {
    .landing .text .content{
        max-width:100%;
      }
    }


.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height:1.6;
    margin-bottom: 20px;
}
.landing .text .content p {
 line-height: 2;
 font-size: 14px;
}

.landing  .arrow {
   
    position:relative;
    /* top:50%; */
    transform: translateY(-50%);
    color:white;
    
}

@media (max-width:767px) {
    .landing  .arrow {
   
    display: none;
        
    }
    }


.landing  .arrow .left-arrow {
    position: absolute;
    left:10px;
    top:350px;
    font-size: 30px;
}
.landing  .arrow .right-arrow {

    position: absolute;
    right:30px;
    top:365px;
    font-size: 30px;

}

.landing .bullets {
display: flex;

position:absolute ;
left: 50%;
transform: translateX(-50%);
bottom: 30px;


}
.landing .bullets li {
width: 20px;
height:20px;
border: 1px solid white;
border-radius:10px;
margin-right: 10px;

}

.landing .bullets li.active {
border-color:var(--main-color);
  background-color: var(--main-color);
    
    }
/* End Landing */

/* Start Service */
.service {
    position: relative;
 }

 .service-content {

margin-top:200px;
margin-bottom: 50px;
 /* display: grid;
 grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
 gap:70px; */


 }
@media (min-width:768px){
    .service .service-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }

}
   

 .service .service-content .col .srv 
 {
    display: flex;
  justify-content: center;
  margin-bottom: 50px;
 }

 @media (max-width: 767px) {
  
    .service .service-content .col .srv  {
        display:flex;
       flex-direction: column; 
       text-align: center;
       margin-bottom: 40px;
     
    }
    .service .service-content .col .srv i {
        margin-bottom: 30px;
        margin-left: 30px;
       
    }
    .service .service-content .col .srv .text {
        margin-left: 20px;
        width: 100%;
    }
    .service .service-content .col .srv .text h3 {
       margin-right: 50px;
       
    }
    .service .container .text p {
        max-width:90%;
    }

 }


 .service .service-content .col .text h3 {
    color: var(--main-color);
    font-size: 20px;
    margin-bottom: 30px;
 }

 

 .service .service-content .col .srv i {
    font-size: 50px;
    margin-right: 40px;

 }

 .service .service-content .col .srv .text p {
    color: #777;
    line-height: 2;

 }

 /* End Service */

 /* Start Design */

.design {
height:100vh;
background-image: url('../images/serv.jpg');
background-repeat: no-repeat;
background-size: cover;
position: relative;
margin-bottom: 60px;
overflow: hidden;


}
.design .overlay {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 30%);

}
.design .overlay .image img {
  position: absolute;
  bottom: -100px;
  left: 80px;
  height:500px;
}

.design .overlay .text {
    background-color:rgb(0 199 252 /50%);
    width: 60%;
    height: 55%;
    padding-left: 70px;
    position: absolute;
    right:-30px;
    top:30%;
    color: white;
    padding-top: 50px;

}

@media (max-width:1056px){
  
    .design .overlay .image img {
     display: none;
      }

      .design .overlay .text {
      min-width: 100%;
       left: 0;
       height: 50%;
    
    } 


}

.design .overlay .text h3 {
text-transform: uppercase;
font-weight: normal;
letter-spacing:1px;
font-size: 30px;
margin-bottom: 40px;
}

.design .text ul li {
    padding: 15px 0;
  }
  .design .text ul li::before {
    font-family: "Font Awesome 5 Free"; /* this is font family for any icon*/
    content: "\e163"; /*unicode for icon*/
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    font-size: 20px;
    top: 1px;
  }

 /* End Design */

 /* Start Portfolio */

.portfolio {
padding-bottom: 200px;


}
@media (max-width:767px) {
.portfolio .text p {
    width:80%;
}
}

.portfolio .list {
position: relative;
height: 200px;

}

.portfolio .list  ul {
    position: absolute;
    left:50%;
    bottom:-90px;
    transform: translateX(-50%);
    display:flex;
    
}


.portfolio .list li {
    padding: 15px;
}

.portfolio .list li.active {
    background-color:var(--main-color);
}
.portfolio .image {
 
    margin-top:190px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    row-gap:5px;
    
    
    
}
.portfolio .image .box {
    overflow: hidden;
    position: relative;
}
.portfolio .image img {
    height: 240px;
    width: 400px;
    transition:0.6s;

    
}
.portfolio .image img:hover {
    transform: rotate(5deg) scale(1.1);
    opacity: 0.5; 

}
.portfolio .image .box .caption {
    position: absolute;
    left: 0;
    bottom: -100px;
    background-color: white;
    width: 100%;
    height: 40%;
    transition: 0.6s;
    padding: 20px;
    

}
.portfolio .image .box:hover .caption {
 display: block;
 position: absolute;
 bottom: 0;

}

.portfolio .image .box .caption h4 {
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 10px;
}

.portfolio .image .box .caption p {
   color: var(--main-color);
   font-size: 18px;
}



.portfolio .btn {
    padding: 15px 20px;
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    border-color: transparent;
    position: absolute;
   left:50%;
   width:100px;
   transform: translateX(-50%);
   margin-top: 40px;
   font-size: 20px;

}


 /* End Portfolio */

 /* Start Vedio */

 .video {
    position: relative;
  }
  .video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
  }
  .video video {
    width: 100%;
  }
  .video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
  }
  .video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
  }
  .video .text p {
    margin-bottom: 30px;
  }
  .video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;

  }


 /* End Vedio */

 /* Start About */
 .about {
    overflow: hidden;
    padding:20px;
    text-align: center;
  
 }

.about  img {
max-width:100%;
position: relative;
bottom:-120px;
margin-top: 60px;

}

@media (max-width:767px) {
    .about  img {
       
        bottom:-90px;
        margin-top: 80px;
       
        
        }
        .about .text p {
           max-width:100%; 
        }
}


 /* End About */

 /* Start Stast */
.stast{

background-image: url('../images/abb.jpg');
background-repeat: no-repeat;
background-size: cover;
position: relative;
max-height: 100%;
padding-bottom: 100px;
padding-top:100px;
text-align: center;
margin-bottom: 50px;
}

.stast::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
  }


.stast .container {
display: flex;
flex-wrap: wrap;
justify-content: center;
height: 100%;
position: relative;
padding:50px;



}
.stast .container .box{
padding:50px;
color: white;
background-color: var(--transparent-color);



}
@media (max-width:767px){
    .stast .container .box{
        flex-basis:100%;
       
        
        
        } 
}

@media (min-width:768px){
    .stast .container .box{
        flex-basis:50%;
       
        
        
        } 
}

@media (min-width:992px){
    .stast .container .box{
        flex-basis:25%;
        
       
        
        
        } 
}


.stast .box i {
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    
}
 .stast .box .number {
    font-size: 45px;
    font-weight: bold;
 }

.stast .box p {
    margin-top: 20px;
}
 /* End Stast */

 /* Start Range */

 .our-skills {
    padding-top:60px;
    padding-bottom:60px;
  }
  .our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media (min-width: 992px) {
    .our-skills .container > div {
      flex-basis:45%;
    }
  }
  .our-skills .container > div > h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
  }
  .our-skills .container > div > p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
  }
  .our-skills .testimonials .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .our-skills .testimonials .content img {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
  }
  @media (max-width: 767px) {
    .our-skills .testimonials .content {
      flex-direction: column;
      text-align: center;
    }
    .our-skills .testimonials .content img {
      margin: 0 auto 20px;
    }
  }
  .our-skills .testimonials .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
  }
  .our-skills .testimonials .text p {
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .our-skills .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
  }
  .our-skills .testimonials .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
  }
  .our-skills .skills .prog-holder {
    margin-bottom: 40px;
  }
  .our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
  }
  .our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
  }
  .our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
  }
  .our-skills .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -8px;
    top: -15px;
  }
     
 /* End Range */

 /* Start Quote */

.quote{
background-image:url('../images/quote.jpg');
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height:300px;
margin-bottom: 60px;
/* height: 30vh; */
position: relative;

}
.quote::before {
position: absolute;
content: "";
top:0;
left:0;
width: 100%;
height:100%;
background-color:rgb(0 0 0 / 50%);


}

.quote  .text {
    text-align: center;
    color: white;
    width:80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
.quote  .text q {
font-size: 30px;

}
.quote .text h4 {
    font-weight: normal;
    margin-top: 20px;
}

 /* End Quote */

/* Start Pricing */
.pricing .plans {
display:grid;
grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
margin-top: 200px;
gap:30px;
text-align: center;

}
.pricing .plans .plan {
 /* position: relative; */
 overflow: hidden;
height: 540px;
width:280px;
background-color:#FCFCFC;

margin-bottom: 25px;
}
@media (max-width:767px){
    .pricing .plans .plan {
       width:100%;
        }
        .pricing .text p {
        width:95%;
        }


}
.pricing .plans .plan .head {
  border-width: 1px;
  border-style:solid;
  border-color:var(--main-color) transparent var(--main-color);  
  padding:40px 0;
}

.pricing .plans .plan .head h3 {
text-transform: uppercase;
font-weight:normal;
font-size: 20px;
margin-bottom: 25px;
}

.pricing .plans .plan .head span {
    font-weight: bold;
    font-size:60px;
    position: relative;
}

.pricing .plans .plan .head span::before {
content:"$";
position: absolute;
font-size: 25px;
font-weight: normal;
left:-30px;
top:0;


}
.pricing .plans .plan .head span::after {

    content:"/Mo";
    position: absolute;
    font-size: 20px;
    bottom:0;
    right:-50px;
    top:50px;
}

.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
   
}
.pricing .plans .plan ul li {
padding: 20px;
position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
  
content: "";
position:absolute;
width:130px;
height:1px;
background-color: var(--main-color);
bottom:0;
left: 50%;
transform: translateX(-50%);
    
}

.pricing .plans .plan .footer {
    margin-top: 40px;
  
   
}

.pricing .plans .plan .footer a {
   text-decoration: none;
   border: 1px solid var(--main-color);
   padding: 15px;
}
.pricing .contact {
    padding:20px;
    text-align: center;

}
.pricing .contact p {
font-size: 20px;
margin-bottom:40px
}

.pricing .contact button {
    padding:15px 20px;
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    border: var(--main-color);
}

/* End Pricing */

/* Start Subscribe */
.sub {
background-image: url('../images/earth.jpg');
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 40vh;
margin-bottom: 40px;
text-align:left;
position: relative;
margin-top:80px;
}

.sub::before {
content: "";
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
background-color:rgb(0 0 0 / 40%);
}

.sub .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;

}
@media (max-width: 991px) {
    .sub .container {
      flex-direction: column;
    }
}

.sub form {
 margin-top: 100px;
 position: relative;
 display: flex;

 justify-content: center;
 

}


.sub p {
margin-top:100px;
margin-left:80px;
} 
@media (max-width: 991px) {
    .sub p {
      margin: 30px 0 0;
    }
  }


@media(max-width:767px){
    .sub p {
       margin:10px;
       position: absolute;
       top:180px;
       line-height:2;
        }
        .sub form input[type="email"] {
          width:100%;
        } 
        
}



.sub form input[type="email"]  {
  background-color:transparent;
  border: 1px solid white;
  border-right-color:transparent ;
  padding:20px 50px;
  color: white;
}


.sub form i {
    position: absolute;
   top:22px;
   left:20px;
   color: white;
   font-size:20px;
}
.sub form input::placeholder {
    color:white;
}
.sub form input[type="submit"]  {
    background-color: var(--main-color);
    color:white;
    padding:0 20px;
    text-transform: uppercase;
    border: 1px solid white;
    border-left-color:transparent;
    margin-left:-1px;
  }
/* End Subscribe */

/* Start Contact */
.contact .content {
  display: flex;
  justify-content:space-evenly;
  margin-top:200px;
  margin-bottom: 40px;

 

}

@media (max-width:767px){
  .contact .text p {
    width:80%;
  } 
}

@media (max-width:767px){
  .contact .content {
    flex-direction:column-reverse;
    text-align: center;
  }


}

.contact .content form .main-input {
  margin-bottom:20px;
  padding:20px 500px 20px 10px ;
  border:1px solid #ccc;
  outline:none;
}


@media (max-width:767px){
  
  .contact .content form .main-input {
    padding-right: 0;
    
  }

}

@media (min-width:768px) and (max-width:992px) {
  
  .contact .content form .main-input {
    padding-right:320px;
    
  }

}


.contact .content form input[type="submit"] {
  width:25%;
  background-color: var(--main-color);
  border-color:transparent;
  color:white;
  text-transform: uppercase;
  padding:20px 15px;
  position: absolute;
  right:0;
  bottom:-70px;
  

}



@media (min-width:768px) and (max-width:992px) {
  .contact .content form input[type="submit"] {
   width:30%;
    
  } 
 

}



@media (max-width:767px){
  
  .contact .content form input[type="submit"] {
    right:0;
    width:40%;
  }

}




.contact .content form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.contact .content .info {
  padding-left: 30px;
}

.contact .content .info h4 {
font-weight: normal;
text-transform: uppercase;
padding-bottom: 30px;
font-size: 18px;
}

.contact .content .info h4:nth-of-type(2) {
  margin-top: 50px;
}




.contact .content .info .phone {
  color: #777;
 display: flex;
 flex-direction: column;
 padding-bottom: 15px;


}
.contact .content .info address {
  color:#777;
  display: inline-block;
 line-height:2;
  
}
@media (max-width:767px){
  .contact .content .info address  {
    margin-bottom: 20px;
  }
}

/* End Contact */

/* Start Footer */

.footerr {
  margin-top:180px;
  background-image: url('../images/earth.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 70vh; */
  position: relative;
  text-align: center;
  color: white;

}
.footerr::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  background-color:rgb(0 0 0 / 50%);

}
.footerr .container {
  position:relative;
  padding-top:200px;
}
.footerr .logo {
  position: absolute;
  top:50px;
  left: 50%;
  transform: translateX(-50%);
}
.footerr .icon h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 25px;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  top:140px;
}
.footerr .icon h3::after {
  content: "";
  position: absolute;
  background-color:white;
  height: 1px;
  width:220px;
  top:50px;
  right:-20px;

}
.footerr .icon i {
  margin-top: 20px;
  margin-right:30px;
  font-size:17px;
}

.footerr .copy-right {
  margin-top:60px;
  padding-bottom: 60px;
}
.footerr .copy-right span.active {
  color: var(--main-color);
  font-weight:bold;
}



/* End Footer */
